{% extends 'modelo.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/cadastros/form-excluir.css' %}">
<link rel="stylesheet" href="{% static 'css/paginas/modelo.css' %}">
{% endblock %}

{% block main %}
<div class="delete-page">
    <div class="delete-card">

        <h2>Confirmar exclusão</h2>

        <p>Tem certeza que deseja excluir este registro?</p>

        <form method="POST">
            {% csrf_token %}

            <div class="delete-actions">
                <a href="javascript:history.back()" class="btn-cancelar">Cancelar</a>
                <button type="submit" class="btn-excluir">Excluir</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}