.dashboard{

    padding:35px;

}

.titulo-dashboard{

    margin-bottom:30px;

}

.titulo-dashboard h1{

    color:#1E88E5;

}

.cards{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;

}

.card{

    background:white;
    border-radius:15px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;

}

.card:hover{

    transform:translateY(-6px);

}

.card i{

    font-size:35px;
    color:#1E88E5;

}

.card span{

    display:block;
    margin-top:15px;
    color:#888;

}

.card h2{

    margin-top:10px;

}

.grid{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:35px;

}

.box{

    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.linha{

    padding:12px 0;
    border-bottom:1px solid #eee;

}