{% extends 'modelo.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cadastros/form.css' %}">
<link rel="stylesheet" href="{% static 'css/paginas/modelo.css' %}">
{% endblock %}

{% block menu%}

{% endblock %}

{% block main %}
<div class="form-page">
    <div class="form-card">

        <h2>Cadastrar</h2>
        <p>Preencha todos os campos obrigatórios</p>

        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn-salvar">Cadastrar</button>
        </form>

    </div>
</div>
{% endblock %}